[submodule "assets/reveal.js"]
	path = assets/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "pytest-for-unittest-users"]
	path = pytest-for-unittest-users
	url = https://github.com/nicoddemus/pytest-for-unittest-users.git
