[submodule "assets/reveal.js"]
	path = assets/reveal.js
	url = git@github.com:hakimel/reveal.js.git
[submodule "pytest-for-unittest-users"]
	path = pytest-for-unittest-users
	url = git@github.com:nicoddemus/pytest-for-unittest-users.git
